---
layout: default
title: Educate-R
---
<ol class="archive">
{% for post in site.posts %}
  <li>
    <div class="excerpt">
      <strong class="entry-title">
        <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
      </strong>
      <span class="date small">
        <abbr class="published" title="{{ post.date }}">{{ post.date | date: "%B %-d, %Y" }}</abbr>
      </span>
      <p>{{ post.excerpt }}</p>
      <p class="alt-font">
        Tags: &nbsp;
        {% for tag in post.tags %}
        <a href="/categories/{{ tag }}" title="{{ tag }}" rel="category tag">{{ tag }}</a>
        {% endfor %}
      </p>
      <p class="comments-link">
        <a href='{{post.url}}#disqus_thread'>Comments</a>
      </p>
    </div>
  </li>
{% endfor %}
</ol>
