/*@import url('//fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');*/

/*Fonts*/
@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/fonts/Sans/cmunss.eot');
	src: url('/fonts/Sans/cmunss.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Sans/cmunss.woff') format('woff'),
		 url('/fonts/Sans/cmunss.ttf') format('truetype'),
		 url('/fonts/Sans/cmunss.svg#cmunss') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/fonts/Sans/cmunsx.eot');
	src: url('/fonts/Sans/cmunsx.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Sans/cmunsx.woff') format('woff'),
		 url('/fonts/Sans/cmunsx.ttf') format('truetype'),
		 url('/fonts/Sans/cmunsx.svg#cmunsx') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/fonts/Sans/cmunsi.eot');
	src: url('/fonts/Sans/cmunsi.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Sans/cmunsi.woff') format('woff'),
		 url('/fonts/Sans/cmunsi.ttf') format('truetype'),
		 url('/fonts/Sans/cmunsi.svg#cmunsi') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/fonts/Sans/cmunso.eot');
	src: url('/fonts/Sans/cmunso.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Sans/cmunso.woff') format('woff'),
		 url('/fonts/Sans/cmunso.ttf') format('truetype'),
		 url('/fonts/Sans/cmunso.svg#cmunso') format('svg');
	font-weight: bold;
	font-style: italic;
}

/*Navigation Bar*/
#navigation {
 width: 100%;
 height: 25px;
 background: #3e3e3e;
 top: 0;
 left: 0;
 position: fixed;
}

#navigation ul {
 margin: auto;
 list-style-type: none;
 text-align: center;
}

#navigation a {
 color: #FFF;
 text-decoration: none;
 border-radius: 7px;
 padding: 3px;
}

#navigation a:hover {
 text-decoration: none;
 color: #3e3e3e;
 background-color: #FFF;
}
  
#navigation ul li {
 display: inline-block;
 line-height: 25px;
 margin-right: 25px;
}

/* HEADER */

#headerimg {
  display: block;
  margin: 0px 10px auto;
  margin-left: auto !important;
  margin-right: auto !important; 
	max-width: 100%;
}

/* CONTENT */
.content{font-size:1.35em;line-height:1.4em}

.content body,p,td,div {
    color: #45462f;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

.content h1, .content h2, .content h3 {
  color: #514d3f;
  font-family: Computer Modern Sans;
/*font-family:Hoefler Text, Georgia, serif;*/
}
.content h1 { margin: 0.6563em 0; font-size: 2.2857em; line-height: 1.1em; }
.content h2 { margin: 0.875em 0; font-size: 1.7143em; line-height: 1.1em;}
.content h3 { margin: 1em 0; font-size: 1.5em; line-height: 1.1em;}
.content h4 { margin: 1.1667em 0; font-size: 1.2857em; line-height: 1.1em;}
.content h5 { margin: 1.3125em 0; font-size: 1.1429em; line-height: 1.1em;}
.content h6 { margin: 1.5em 0; font-size: 1em; line-height: 1.5em;}
.sourceCode {
  max-width:90%; 
	margin-left: auto !important;
	margin-right: auto !important;}
	
p code {font-size:100%; color:black;
				vertical-align:text-middle;
				color: #45462f;
}
        
.blackborder {
  border: 1px black;
  max-width:90%; 
  margin-left: auto !important;
	margin-right: auto !important;
}

/* BLOG */
.blog {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 90%;
  margin-top: 80px;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: #3870D1;
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: underline;
}

body {
 font-family: Computer Modern Sans;
/*font-family: "Crimson Text", "Minion Pro", Georgia, Times;*/
  color: black;
  font-size: 0.8em;
  margin: 0 auto;
  width: 80%; 
  margin-left: auto !important;
  margin-right: auto !important; 
  max-width: 1000px;
  margin-bottom: 100px; 
}

img {
  display: block;
	margin: 10 10 10 10 px auto;
  margin-left: auto !important;
  margin-right: auto !important; 
	max-width: 100%;
	padding: 7px 7px 7px 7px ;
	}
  
img > a{
  border: none;
}
  
#about{
  float: right;
  margin: 10px auto;
  width=10%;
  height=auto;
}

/* Float image right with floatright in alt text of markdown */
img[alt = floatright] { 
   float: right; 
   margin: 5px;
 }

/* contact images */
#contactimage ul {
margin: auto;
list-style-type: none;
}

#contactimage ul li {
display: inline-block;
line-height: 25px;
margin-right: 25px;
position: relative;
}

#contactimage ul a:hover:after,
ul a:focus:after
{
    background: #ffffff;
    bottom: 2px;
    content: attr(title);
    color: #000;
    display: block;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}

#bgred {background-color: #FF0000;}
#bgblue {background-color: #0000FF;}
